<%- include("header"); -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui consequatur soluta fugiat itaque obcaecati, nam molestias omnis architecto consectetur porro excepturi iusto libero sed quas minus facilis. Dolorum, repudiandae natus!</p>
<%- include("footer"); -%>